<div class="root-div">
  <div class="black-opp"></div>

  <div class="today-header">
    <span>{{ dayOfWeek | titlecase }}</span>
  </div>

  <hr/>

  <div class="entire-verses">
    <span>{{ entireVerses }}</span>
  </div>

  <hr/>

  <div class="day-verse">
    <span>Werset dnia</span>
    <span>
        Lecz setnik odpowiedział: "Panie, nie jestem godzien, abyś wszedł pod dach mój, ale powiedz tylko słowo, a mój sługa odzyska zdrowie".
      </span>
  </div>

  <div class="odnosnik">
    Mat 8:8
  </div>
  <hr/>

  <div class="asks">
    <span>Pytania:</span>
    <ul class="a">
      <li> Werset 11 - kim są ludzie "ze wschodu i zachodu"?</li>
      <li> Werset 12 - kim są "synowie Królestwa"?</li>
      <li> Wersety 28-31 - jak demony nazwały Jezusa? Dlaczego stwierdziły, że przyszedł je dręczyć?</li>
    </ul>
  </div>
</div>
